<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>AddGlosa</title>
    <link rel="stylesheet" href="/add.css?version=1">
    <link rel="stylesheet" href="/home.css">

</head>
<body>



<ul>
    <li><a th:href="@{/home}">Start</a></li>
    <li><a th:href="@{/start}">Öva på glosor</a></li>
    <li><a class="active" th:href="@{/add}" th:text="${val} != 1 ? 'Lägg till glosor' : 'Redigera glosa'"></a></li>
    <li><a th:href="@{/showall}">Visa alla och ta bort glosor</a></li>
</ul>

<div class="add-main">

    <h1 th:text="${val} != 1 ? 'Lägg till glosa' : 'Redigera glosa'"></h1>

<form th:object="${glosa}" action="/save" method="POST">

    <div class="mellanrum">
    <div> <p>Svenska:</p></div>
    <input class="add-input" input type="text" th:field="*{swe}" placeholder="svenska"/>
    </div>

    <div><p>Engelska: </p></div>
    <input class="add-input" type="text" th:field="*{eng}" placeholder="engelska"/>

    <input type="hidden" th:field="*{id}"/>


    <div class="knappar" th:each="category : ${category}">
        <input th:value="${category.id}" type="radio" name="category" />
        <label th:text="${category.name}"></label>
    </div>

    <!--
     <select th:name="category">
         <option th:each="category: ${category}" th:value="${category.id}" th:text="${category.name}">
     </select>
     -->


    <div><input class="knapp" type="submit" value="Spara glosa"></div>
</form>



</div>

</body>
</html>