<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="finish.css">
</head>
<body>

<ul>
    <li><a th:href="@{/home}">Start</a></li>
    <li><a th:href="@{/start}">Öva på glosor</a></li>
    <li><a th:href="@{/add}">Lägg till glosor</a></li>
    <li><a th:href="@{/showall}">Visa alla och ta bort glosor</a></li>
</ul>

<div class="finish-main">


    <td th:switch="${#lists.size(lista)}">
        <span th:case="'0'">
            <h1>Wow, alla rätt!</h1>
        </span>
        <span th:case="'1'" >
            <h1>Bra jobbat!</h1>
        </span>
        <span th:case="'2'" >
            <h1>Bra jobbat!</h1>
        </span>
        <span th:case="'3'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'4'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'5'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'6'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'7'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'8'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'9'" >
            <h1>Du behöver öva lite mer!</h1>
        </span>
        <span th:case="'10'" >
            <h1>Ajdå, alla fel denna gång.</h1>
        </span>
    </td>


<div>
<p th:text="${#lists.size(lista)} <= 3 ? 'Du svarade rätt på ' + ${player.numCorrect} + ' av '+ ${player.num} + ' frågor!' : 'Du svarade rätt på ' + ${player.numCorrect} + ' av '+ ${player.num} + ' frågor.'"></p>
</div>


    <div class="felsvar" th:if="${#lists.size(lista)} >= 1">

        <p class="felsvar">De här glosorna behöver du öva mer på:</p>

<tr th:each="svar: ${lista}">
    <td th:text="${svar}" />
    <br>

</tr>
    </div>


    <div class="container">
        <div><a href="http://localhost:8080/start">Öva igen och nollställ!</a></div>
    </div>

</div>

</body>
</html>

<!--

<h1 th:text="'Du har svarat på '+ ${player.num} + ' st glosor och svarat rätt på ' + ${player.numCorrect} + ' st glosor.'"></h1>

<tr th:each="svar: ${player}">
    <td th:text="'Du har svarat på '+ ${svar.num} + ' st glosor och svarat rätt på ' + ${svar.numCorrect} + ' st glosor.'" />

</tr>
-->