<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="start.css">
</head>
<body>


<ul>
    <li><a class="active" th:href="@{/home}">Start</a></li>
    <li><a th:href="@{/start}">Öva på glosor</a></li>
    <li><a th:href="@{/add}">Lägg till glosor</a></li>
    <li><a th:href="@{/showall}">Visa alla och ta bort glosor</a></li>
</ul>

<div class="box">

    <div class="inner-box">

        <p class="task"><a th:href="@{/start}">Öva på glosor</a></p>


        <p class="task"><a th:href="@{/add}">Lägg till glosor</a></p>


        <p class="task"><a th:href="@{/showall}">Visa alla och ta bort glosor</a></p>
    </div>

</div>

<!--
<div class="imgbox" id="imgbox1">Box 1<br>
    <p>Göm</p>
    <button onclick="removeElement()">Remove</button>
</div>
-->



<script src="/test.js"></script>


</body>
</html>